.pointer {
    cursor: pointer;
}

.no-select {
    user-select: none;
}

.map-cell {
    width: 40px;
    height: 40px;
    margin: 1px;
}

.cell-start {
    background-color: red;
}

.cell-goal {
    background-color: lightgreen;
}

.cell-path {
    background-color: lightblue;
}

.cell-visited {
    background-color: pink;
}

.cell-filled {
    background-color: black;
}

.cell-empty {
    background-color: white;
}